<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>WEB Scraping</h2>
<p>Esta página foi feita com intuíto para estudos, utilizando alguns tipos de scrap pré selecionados, sendo eles: </p>
<p>1) {{beaultifulsoup}} ou abreviado {{bs}}</p>
<p>2) {{extractor}} ou abreviado {{ext}}</p>
<p>3) {{scrapy}} ou abreviado {{scr}}</p>
<a href='scrap_form'>Ir para a página de web scraping</a>
</body>
</html>